{
  "dbConfig"   : {
		"host"     : "hostname",
		"user"     : "username",
		"password" : "password",
		"database" : "mydb"
	}
  "uploadConfig": {
    "validExts": ["png", "jpg", "jpeg"]
  },
  "secretKey": "cutie club"
}
