th {
  padding: 0.75em 0.1em;
}

th,
td {
  text-align: left;
  border: none;
}

td img {
  max-width: 150px;
}

tbody > tr:nth-child(even) {
  background-color: #fafafa;
  border-radius: 15%;
}

thead {
  font-size: 1.25em;
  background-color: #444;
  color: white;
}

thead tr th {
  text-transform: capitalize;
}

thead tr th:first-child {
  text-transform: uppercase;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 0.5em;
}

tbody tr td:first-child {
  text-align: center;
}

td input {
  min-width: 1em;
}
