.notification {
  background: white;
  width: 20em;
  max-width: 100%;
  height: 5em;
  max-height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  padding: 0 1.5em;
  top: 85%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0 1em 2em 5px rgba(0,0,0,0.33);
}

.notification p {
  margin-right: 1em;
}

.notification-status {
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.notification-status rect {
  animation: 7s progress ease-out;
}

@keyframes progress {
	from { width: 100%; }
	to { width: 0%; }
}
