button {
  transition: 0.2s all ease;
  border: none;
  padding: 0;
  background: none;
  margin: 0;
}

button.btn {
  font-size: 1em;
  padding: 0.25em 0.5em;
  border: 2px solid #999;
  border-radius: 5px;
  margin: 2px;
}

button::selection {
  background: transparent;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  background: #eee;
  color: #bbb;
  border: 2px solid #eee;
}

button.icon {
  font-size: 1em;
}

button.icon:hover {
  transform: translate3d(0, -3px, 0);
}

button.btn:hover:not(:disabled) {
  background: #444;
  color: white;
  border: 2px solid #444;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
}

button.btn:active:not(:disabled) {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

button.warning:not(:disabled) {
  border: 2px solid darkorange;
  background: darkorange;
  color: white;
}

button.warning:hover:not(:disabled) {
  border: 2px solid orange;
  background: orange;
  color: white;
}

button:focus {
  outline-style: none;
}

button.danger:not(:disabled) {
  background: crimson;
  border: 2px solid crimson;
  color: white;
}

button.danger:hover:not(:disabled) {
  border: 2px solid red;
  background: red;
}

button.accept:not(:disabled) {
  background: #4caf50;
  border: 2px solid #4caf50;
  color: white;
}

button.accept:hover:not(:disabled) {
  background: forestgreen;
  border: 2px solid forestgreen;
  color: white;
}
